
.hamburguer-button {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    justify-content: center;
    

    &__top-bread {
        display: block;
        position: absolute;
        width: 80%;
        height: 10%;
        top: 20%;
        left: 10%;
        background-color: #fff;
        border-radius: 1px;
        transition: all 0.5s ease;

        &--close {
            top: 14px;
            transform: rotate(50deg);
            background-color: #fff;
        }
    }
    
    &__meat {
        position: absolute;
        left: 10%;
        top: 50%;
        display: block;
        width: 80%;
        height: 10%;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 1px;

        &--close {
            transform: translatex(60px);
            border: 4px solid red;
            }
    }
    
    
    &__bottom-bread {
        position: absolute;
        left: 10%;
        bottom: 20%;
        display: block;
        width: 80%;
        height: 10%;
        background-color: #fff;
        border-radius: 1px;
        transition: all 0.5s ease;
    
        &--close {  
            top: 14px;
            transform: rotate(-50deg);
            transition: all 0.5s ease;
            }
    
    }
}
