<article class="article-contact">
    <h1 class="header-contact">Contacto</h1>
        <form action="server.php" class="form-contact" autocomplete="off">
            <div class="form-contact__item">
                <label class="form-contact__item-label" for="name">Nombre</label>
                <input class="form-contact__item-input" type="text" name="name" id="name" required >
            </div>
            <div class="form-contact__item">
                <label class="form-contact__item-label" for="email">E-mail</label>
                <input class="form-contact__item-input" id="email" type="email" name="email" required>
            </div>
            <div class="form-contact__item">
                <label class="form-contact__item--textarea" for="comments">Comentarios</label>
                <textarea class="form-contact__item-input--textarea" name="comments" id="comments"></textarea>
            </div>
            <div class="row">
                <input type="submit">
            </div>
        </form>
    </article>