<div class="slider-container">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="../img/productos/slider-1.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="../img/productos/slider-2.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="../img/productos/slider-3.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="../img/productos/slider-4.jpg" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
</div>


<section class="section-cards">
    <header class="section-cards__header">
        <h1>Ofertas destacadas</h1>
        <p>Aprovechá antes que se acaben</p>
    </header>

    <div class="cards-container" id="cardContainer">

    </div>

    <div class="producto-agregado" id="productAdded">
        <p>PRODUCTO AGREGADO</p>
    </div>

    <footer class="section-cards__footer">
    </footer>

</section>