<section>
    <h1 class="header-about-us">Sobre nosotros</h1>
    <article class="article-about-us">
        <div class="about-us">
            <div class="about-us__contain">
                <p>
                    En juguetería Cósmica trabajamos para que todos los niños y sus familias <em>puedan encontrar ese juguete tan especial</em> que recordarán con cariño toda su vida. Creemos que los niños son el futuro y buscamos mediante la diversión, la exploración y elaprendizaje, ser el vehículo de sus grandes destinos.  
                </p>
                <ul>
                    <li>Contamos con mas de 10 aos de experiencia</li>
                    <li>Somos referentes en el rubro de jugueterías</li>
                    <li>Contamos con 22 sucursales</li>
                    <li>La satisfacción de nuestros clientes es producto del gran trabajo de nuestro talento humano</li>
                </ul>
            </div>
        </div>
    </article>

    <!--------------------Video juego Naves -----------------------> 

    <!-- <div class="container">
        <canvas id="my_canvas" width="700" height="600"></canvas>
        <h3 class="barra"></h3>
        <div>
            <button class = "boton" id="left_btn">Izquierda</button>
            <button class = "boton" id="fire_btn">Disparo</button>
            <button class = "boton" id="right_btn">Derecha</button>
        </div>
    </div> -->
</section>